.kjk a{
    text-decoration: none;
   
}

.kjk span{
    padding-left: 20px;
}
.kjk{
    margin-top: 40px;
}
.kjk h1{
    font-weight: bold;
    text-decoration: underline;
    margin-left: 30px;
}

.vv{
    align-items: center;
    text-align: center;
}

.vv img{
    width: 100px;
}
